@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
//
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  text-align: center;

  height: 100vh;


}

/* CSS */



.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


.square{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content:center;
  height:110px;
  width: 110px;
  margin:10px;
  font-size: 24px;
  line-height: 60px;
  background:  #FFF;
  transition: transform 0.3s ease, box-shadow 0.3s ease;  // Added box-shadow transition

  &:hover {
    transform: scale(1.03);  // Scale the square on hover
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  }
}


.Board {

  display: grid;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  background: #FFE79E;
  align-content: center;

  // Neon border effect
  box-shadow: 0 0 05px #f1b500, 0 0 10px #fae94b, 0 0 15px #ffd100;
}
.game-info{
  display: flex;
  align-items: center;
  height: 98px;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
}
.board-row {
  align-items: center;
  display: flex;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



                                                     /* CSS */
 .button-36 {
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: linear-gradient(92.88deg, #ffffff 9.16%, #ffffff 43.89%, #ffffff 64.72%);
   border-radius: 8px;
   border: 5px solid #5643CC;
   box-sizing: border-box;
   width: 220px;
   color: #000000;
   cursor: pointer;
   flex-shrink: 0;
   font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
   font-size: 25px;
   font-weight: 500;
   height: 5rem;
   padding: 2rem 5rem;
   text-align: center;
   text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
   transition: all .5s;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
 }

.button-36:hover {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  color: #fff;
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }

}
@media (max-width: 500px) {
  .button-36 {
    padding: 0 2.6rem;
  }
  .winner-popup{
    width: 77% !important;
  }
  .square{

    height:70px;
    width: 70px;
    margin:10px;
  }
  .StartPage
  {
    display: flex;
    align-items: center !important;
    justify-content: center;
    align-content:center;
    height: calc(100vh - 98px);
    flex-direction: column;
  }
}
//.StartPage
//{
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  align-content:center;
//  height: calc(100vh - 98px);
//  flex-direction: column;
//}

.winner-popup{
  display: flex;
  align-items: center;
  justify-content: center;
  //padding-top: 60px;
  font-size: 12px;
  align-content:center;
  border-radius: 15px;
  color: #001133;
  //height: 50%;
  width: 30%;
  top: 0;
  height: 30vh  ;
  position: absolute;
  background: url("Untitled design.gif") repeat;
  background-size: cover;
  z-index: 100;
}
/*.App {*/
/*  text-align: center;*/
/*  background-color: #282c34;*/
/*}*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}






// Helper function to generate multiple box shadows
@function multiple-box-shadow($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value}, #{random(2000)}px #{random(2000)}px #FFF';
  }

  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

.fixed-section {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 1000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

#title {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;

  span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
